body 
{
    font-family:Arial, Helvetica, sans-serif;
}


.nav-list 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}

.nav-link 
{
    border-right: 1px solid #bbb;
    float: left;
}



.nav-link:last-child
{
    border-right: none;
}

.nav-link-right 
{
    float: right;
    border-left: 1px solid #bbb;
}

.nav-link-active
{
    background-color: #7ac5cd;
}

.nav-item
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item:hover 
{
    background-color: #111;
}

.path-list-member
{
    font-size: 13px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    padding-right: 0px;
    text-decoration: none;
    float: left;    
}

.active-path
{
    font-weight: bold;
}

form
{
    border:#666666 solid 1px;
    padding: 30px;
    border-radius: 3px;
    margin-top: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

input
{
    width: 100%;
    height: 24px;
}

input:focus
{   
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ac5cd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ac5cd;
}

label 
{
    font-weight:bold;
    width:100px;
    font-size:14px;
    color: #111;
}

.box 
{
    border:#666666 solid 1px;
    border-radius: 3px;
}

#submit-btn
{
    font-size:14px;
    font-weight: bold;
    color: #666666;
    border: #666666 solid 3px;
    background-color: #fff;
    border-radius: 3px;
}

#submit-btn:hover
{
    background-color: #666666;
    color: #fff;
}

.index-table
{
    border:#666666 solid 3px;
    border-radius: 3px;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}

.table-title
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

td
{
    font-size: 16px;
}

.header
{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #666666;
    border-radius: 3px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: -20px;

}

td
{
    padding-left: 10px;
    padding-top: 5px; 
}

.header-row
{
    margin-bottom: 10px;   
}
.index-actions
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align:center;
    font-size:14px;
    font-weight: bold;
    color: #666666;
    border: #666666 solid 3px;
    background-color: #fff;
    border-radius: 3px;
    
}

.index-actions:hover
{
    color: #fff;
    background-color: #666666;   
}

.index-link
{
    color: #666666;
    text-decoration: none;
}

.index-link:hover
{
    color: #fff;
    background-color: #666666;   
}






